{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions"]
    },
    "useBuiltIns": true
  }], "react"],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    ["react-hot-loader/babel"],
    ["dynamic-import-webpack"],
    ["transform-function-bind"],
    ["transform-object-rest-spread"]
  ]
}