@import "variables";

* {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', cursive;
	margin: 0;
	letter-spacing: 2px;
}

p {
	margin: 0;
}

h4 {
	font-size: 18px;
}

a {
	color: $light;
}

body {
	margin: 0;
}

#root {
	width: 100%;
	height: 100vh;
}

main {
	display: block; // ie, why don't you be a real browser
	min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
	background-color: $primary;
}

.LocalStorageError {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 40px 15px;
}

.LocalStorageError__photo {
	max-width: 100%;
}

.InputGroup {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.Input {
	display: block;
	width: 400px;
	max-width: 100%;
	padding: 10px 15px;
	outline: none;
	border: 1px solid $primary;
	border-radius: 2px;
}

.Button {
	display: block;
	min-width: 140px;
	color: $light;
	background-color: $primary;
	padding: 10px;
	border: 1px solid $primary;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
	letter-spacing: 1px;

	&:hover {
		background-color: $active;
	}
}

.rodal {
	display: flex;
	justify-content: center;
	align-items: center;
}