// Primary colors
$primary: #9eb2a8;
$secondary: #c1bf3e;
$ternary: #b28c53;
$light: #ffffff;
$dark: #282825;

// Alternative colors
$active: #14e092;
$idle: #567c6e;
$passive: #4a514e;

// General colors
$error: #ff0000;
$success: #91dc5a;

// Screen sizes
$desktop: 1200px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$phablet: 640px;
$mobile: 480px;
$bootstrapThreshold: 520px;

// sizes
$headerHeight: 60px;
$footerHeight: 80px;
